<section style="background-color: #fff;">
  <div class="container" style="padding-top:25px; padding-bottom:25px;">
    <div class="row">
      <div class="col">
        <h4>Media listing</h4>
      </div>
      <div class="col ">
        <button class="btn btn-secondary add" (click)="addImage()"><i class="fa fa-plus" aria-hidden="true"></i> <b>
          Add</b></button>
      </div>
    </div>
    <!-- Table -->
    <table class="table table-striped" id="table" [mfData]="data | filter:searchTxt" #mf="mfDataTable"
      [mfRowsOnPage]="8">
      <thead>
        <tr class="title-color">
          <th>
            <mfDefaultSorter by="image">File</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="title">Title</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="url">Url</mfDefaultSorter>
          </th>

          <th class="action">
            <mfDefaultSorter by="action">Action</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data;" style="text-align: left;">
          <td> <img [attr.src]="path+item.image" style="height:80px; width:80px" /></td>
          <td>{{item.title}}</td>
          <td><button class="copy-btn" title="{{item.title}}" (click)="copyTextToClipboard(path+item.image)">
              <i class="fa fa-clipboard"></i>
            </button></td>
          <td style="width:170px; text-align:center"><button class="btn btn-primary editbtn"
              (click)='editImage(item)'><i class="la la-lg la-edit"></i></button><button class="btn btn-danger delbtn"
              (click)='delete(item.id)'><i class="la la-lg la-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
    <!-- Table -->
  </div>

  <!-- add-media modal -->
  <div class="modal fade" id="message-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Add Media</h3>
        </div>
        <div>
          <form [formGroup]="mediaForm" (ngSubmit)="onSubmit(mediaForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group ">
                    <label class="label">Tilte</label>
                    <input type="text" name="title" class="form-control" formControlName="title"
                      placeholder="Enter title" >
                      <div *ngIf="submitted && mediaForm.controls.title.errors" class="error-font">
                          <span *ngIf="mediaForm.controls.title.errors.required" class="validation-error">Title is required</span>
                        </div>  
                  </div>
                 
                  <div class="form-group">
                    <label class="label">File</label>
                    <input type="file" name="Images" class="form-control" formControlName="image"
                      (change)="onFileChange($event)">
                      <div *ngIf="submitted && mediaForm.controls.image.errors" class="error-font">
                          <span *ngIf="mediaForm.controls.image.errors.required" class="validation-error">Image is required</span>
                        </div>  
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" 
                style="width:90px;">Save</button>
              <button type="button" class="btn btn-secondary " data-dismiss="modal">
                Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete media modal -->
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Delete</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete media?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="width:90px;" (click)="deletemedia()"
            data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit media modal -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Edit Media</h3>
        </div>
        <div>
          <form [formGroup]="meditForm" (ngSubmit)="medit(meditForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Tilte</label>
                    <input type="text" name="title" class="form-control" formControlName="title"
                      placeholder="Enter title">
                  </div>
                  <div class="form-group">
                    <label class="label">Image</label>
                    <input type="file" name="image" class="form-control" formControlName="image"
                      (change)="onFileChange($event)">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="meditForm.invalid"
                style="width:90px;">Update</button>
              <button type="button" class="btn btn-secondary " data-dismiss="modal">
                Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <notifier-container></notifier-container>
</section>