// .uk-notouch {
//     overflow: hidden !important;   
// }
 
// body,html{
//    overflow: hidden !important;
//  }
.btn-custom{
    color: black;
    background-color:white;
    border:none;
    box-shadow:none

}
.custom-left{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
}
.heading{
    font-size: 16px;
  
    margin-left:10px;
    font-weight: 600;
}
.label{
    float: left;
}

html, body {
    overflow: hidden !important;
}