<section style="background-color: #fff;">

  <div class="container" style="padding-top:25px; padding-bottom:25px;">
    <div class="row">
      <div class="col">
        <h4>Blog listing</h4>
      </div>
      <div class="col ">
        <button class="btn btn-secondary addpage" (click)="newpage()"><i class="fa fa-plus" aria-hidden="true"></i> <b>
          Add</b></button>
      </div>
    </div>
    <!-- table -->
    <table class="table table-striped" id="table" [mfData]="data | filter:searchTxt" #mf="mfDataTable"
      [mfRowsOnPage]="8">
      <!-- start heading of talbe -->
      <thead>
        <tr class="title-color">
          <th>
            <mfDefaultSorter by="bgimg">Featured image</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="pagename">Blog title</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="tags">Tags</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="categories">Categories</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="status">Status</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="createdat">Created at</mfDefaultSorter>
          </th>
          <th class="action">
            <mfDefaultSorter by="action">Action</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <!-- end table heading -->
      <!-- start table-body -->
      <tbody>
        <tr *ngFor="let item of mf.data; let i = index" class="sub-title-color" style="text-align: left;">
          <td style="width:10%"><img [attr.src]="path+item.feature_image" class="bgimg" /></td>
          <td>{{item.postname}}</td>
          <td>{{item.tag}}</td>
          <td>{{item.category_name}}</td>
          <td>{{item.status}}</td>
          <td>
            {{ item.createdAt | date: "yyyy/MM/dd" }}<br />
            {{ item.createdAt | date: "hh:mm a"}}
          </td>
          <td style="width:170px; text-align:center"><button class="btn btn-primary editbtn"
              (click)='editblog(item.id)'><i class="la la-lg la-edit"></i></button><button class="btn btn-danger delbtn"
              (click)='delete(item.id)'><i class="la la-lg la-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <!-- end table-body -->
      <!-- start table footer -->
      <tfoot>
        <tr>
          <td>
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
      <!-- end table footer -->
    </table>
    <!-- table -->
  </div>
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Delete</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete blog?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="width:90px;" (click)="deleteblog()"
            data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <notifier-container></notifier-container>
</section>