<section style="background-color: #fff;">
  <div class="container" style="padding-top:25px; padding-bottom:25px;">
    <div class="row">
      <div class="col">
        <h4>Footer listing</h4>
      </div>
      <div class="col ">
        <button class="btn btn-secondary addpage" (click)="newpage()"><i class="fa fa-plus" aria-hidden="true"></i> <b>
          Add</b></button>
      </div>
    </div>
    <!-- Table -->
    <table class="table table-striped" id="table" [mfData]="data | filter:searchTxt" #mf="mfDataTable"
      [mfRowsOnPage]="8">
      <thead>
        <tr class="title-color">

          <th>
            <mfDefaultSorter by="footer_name">Footer name</mfDefaultSorter>
          </th>
          <th class="action">
            <mfDefaultSorter by="action">Action</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data;" class="sub-title-color" style="text-align: left;">
          <td>{{item.footer_name}}</td>
          <td style="width:160px; text-align:center"><button class="btn btn-primary editbtn" (click)='tedit(item.id)'><i
                class="la la-lg la-edit"></i></button><button class="btn btn-danger delbtn"
              (click)='delete(item.id)'><i class="la la-lg la-trash-o"></i></button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
    <!-- Table -->
  </div>
 
  <!--Delete modal   -->
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Delete</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete footer?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="width:90px;" (click)="footerdel()"
            data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="message-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Add Footer</h3>
          <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><small><i class="la la-close"></i></small></span>
              </button> -->
        </div>
        <!-- <div class="modal-body">
                <p>Page was successfully saved!.</p>
            </div> -->
        <div>
          <form style="text-align:center;" [formGroup]="cloneForm" (ngSubmit)="onSubmit(cloneForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Page name</label>
                    <input type="text" name="pagename" class="form-control" formControlName="pagename"
                      placeholder="Enter page name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Page title</label>
                    <input type="text" name="title" formControlName="title" class="form-control"
                      placeholder="Enter page title">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Page subtitle</label>
                    <input type="text" name="subtitle" class="form-control" formControlName="subtitle"
                      placeholder="Enter page subtitle">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Page description</label>
                    <input type="text" name="description" formControlName="description"
                      placeholder="Enter page description" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Background image</label>
                    <input type="file" name="bgimage" formControlName="bgimage" (change)="onFileChange($event)"
                      placeholder="Upload background" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Meta title</label>
                    <input type="text" name="metatitle" formControlName="metatitle" class="form-control"
                      placeholder="Enter meta title">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="label">Meta description</label>
                    <input type="text" class="form-control" name="metadescription" formControlName="metadescription"
                      placeholder="Enter meta description">
                  </div>
                </div>
              </div>
              <textarea rows="25" name="html" formControlName="html" cols="150" class="form-control"
                style="display:none;"></textarea>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="cloneForm.invalid"
                style="width:90px;">Save</button>
              <button type="button" class="btn btn-secondary " data-dismiss="modal">
                Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <notifier-container></notifier-container>
</section>