<section style="background-color: #fff;">
  <div class="container" style="padding-top:25px; padding-bottom:25px;">
    <div class="row">
      <div class="col">
        <h4>User listing</h4>
      </div>
      <div class="col ">
        <button class="btn btn-secondary add" (click)="addusers()"><i class="fa fa-plus" aria-hidden="true"></i> <b>
          Add</b></button>
      </div>
    </div>
    <!-- Table -->
    <table class="table table-striped" id="table" [mfData]="data | filter:searchTxt" #mf="mfDataTable"
      [mfRowsOnPage]="8">
      <thead>
        <tr class="title-color">
          <th>
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="email">Email</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="mobile">Mobile no</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="role_name">Role</mfDefaultSorter>
          </th>
          <th class="action">
            <mfDefaultSorter by="action">Action</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data;" class="sub-title-color" style="text-align: left;">
          <td>{{item.fName}} {{item.lName}}</td>
          <td>{{item.email}}</td>
          <td>{{item.telPhone}}</td>
          <td>{{item.roles.displayValue}}</td>
          <td style="width:170px; text-align:center"><button class="btn btn-primary editbtn"
              (click)='editmodal(item)'><i class="la la-lg la-edit"></i></button>
              <!-- <button class="btn btn-danger delbtn"
              (click)=' delete(item.id)'><i class="la la-lg la-trash-o"></i></button> -->
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
    <!-- Table -->
  </div>
  <!-- Delete  modal -->
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Delete</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete user?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="width:90px;" (click)="deleteuser()"
            data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add new user modal -->
  <div class="modal fade" id="message-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Add Users</h3>
        </div>
        <div>
          <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">First Name</label>
                    <input type="text" name="fName" class="form-control" formControlName="fName"
                      placeholder="Enter first name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Last Name</label>
                    <input type="text" name="lName" class="form-control" formControlName="lName"
                      placeholder="Enter last name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Email</label>
                    <input type="text" name="email" class="form-control" formControlName="email"
                      placeholder="Enter email">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Mobile no</label>
                    <input type="text" name="telPhone" class="form-control" formControlName="telPhone"
                      placeholder="Enter mobile no">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Password</label>
                    <input type="text" name="password" class="form-control" formControlName="password"
                      placeholder="Enter password">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Confirm_password</label>
                    <input type="text" name="confirm_password" class="form-control" formControlName="confirm_password"
                      placeholder="Enter confirm_password">
                    <div class="error-msg" *ngIf="userForm.value.password !== userForm.value.confirm_password">
                      <p style="color: red"><b>Passwords must match.</b></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Select role</label>
                    <div>
                      <select class="form-control custom-select" formControlName="role" name="role">
                        <option *ngFor="let l of role" [value]="l.id">{{l.key}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid"
                style="width:90px;">Save</button>
              <button type="button" class="btn btn-secondary " data-dismiss="modal">
                Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit/update user modal -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Edit users</h3>
        </div>
        <div>
          <form [formGroup]="editForm" (ngSubmit)="edituser(editForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">First Name</label>
                    <input type="text" name="fName" class="form-control" formControlName="fName"
                      placeholder="Enter first name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Last Name</label>
                    <input type="text" name="lName" class="form-control" formControlName="lName"
                      placeholder="Enter last name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Email</label>
                    <input type="text" name="email" class="form-control" formControlName="email"
                      placeholder="Enter email">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Mobile no</label>
                    <input type="text" name="telPhone" class="form-control" formControlName="telPhone"
                      placeholder="Enter mobile no">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Password</label>
                    <input type="text" name="password" class="form-control" formControlName="password"
                      placeholder="Enter password">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Confirm_password</label>
                    <input type="text" name="confirm_password" class="form-control" formControlName="confirm_password"
                      placeholder="Enter confirm_password">
                    <div class="error-msg" *ngIf="userForm.value.password !== userForm.value.confirm_password">
                      <p style="color: red"><b>Passwords must match.</b></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Select role</label>
                    <div>
                      <select class="form-control custom-select" formControlName="role" name="role">
                        <option *ngFor="let l of role" [value]="l.id">{{l.key}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid"
                style="width:90px;">Save</button>
              <button type="button" class="btn btn-secondary " data-dismiss="modal">
                Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <notifier-container></notifier-container>
</section>