<section>
  <div id="vvveb-builder">
    <!-- Top panel -->
    <div id="top-panel">
      <span alt="Vvveb" class="float-left" id="logo" (click)="backClicked()">
        <div class="row">
          <div class="col-1">
            <i class="la la-arrow-left custom-left"></i>
          </div>
          <div class="col">
            <div class="heading">Page name: {{pagename}}</div>
          </div>
        </div>
      </span>
      <div class="btn-group mr-3" role="group">
        <button class="btn btn-primary btn-custom" title="Undo (Ctrl/Cmd + Z)" id="undo-btn" data-vvveb-action="undo"
          data-vvveb-shortcut="ctrl+z">
          <i class="la la-undo text-black"></i>
        </button>
        <button class="btn btn-primary btn-custom" title="Redo (Ctrl/Cmd + Shift + Z)" id="redo-btn"
          data-vvveb-action="redo" data-vvveb-shortcut="ctrl+shift+z">
          <i class="la la-undo la-flip-horizontal text-black"></i>
        </button>
      </div>
      <div class="btn-group mr-3" role="group">
        <button class="btn btn-primary btn-custom" title="Designer Mode (Free component dragging)"
          id="designer-mode-btn" data-toggle="button" aria-pressed="false" data-vvveb-action="setDesignerMode">
          <i class="la la-hand-grab-o text-black"></i>
        </button>
        <button class="btn btn-primary btn-custom" title="Preview" id="preview-btn" type="button" data-toggle="button"
          aria-pressed="false" data-vvveb-action="preview">
          <i class="la la-eye text-black"></i>
        </button>
        <button class="btn btn-primary btn-custom" title="Fullscreen (F11)" id="fullscreen-btn" data-toggle="button"
          aria-pressed="false" data-vvveb-action="fullscreen">
          <i class="la la-arrows text-black"></i>
        </button>
      </div>
      <div class="btn-group mr-3" role="group">
        <button class="btn btn-primary btn-custom" title="Export (Ctrl + E)" id="save-btn" data-vvveb-action="saveAjax"
          data-vvveb-shortcut="ctrl+e">
          <i class="la la-save text-black"></i>
        </button>
        <button class="btn btn-primary btn-custom" title="Download" id="save-btn" data-vvveb-action="download"
          download="index.html">
          <i class="la la-download"></i>
        </button>
      </div>
      <!-- View buttons  -->
      <div class="btn-group float-right responsive-btns" role="group">
        <button id="mobile-view" data-view="mobile" class="btn btn-light btn-custom" title="Mobile view"
          data-vvveb-action="viewport">
          <i class="la la-mobile-phone"></i>
        </button>
        <button id="tablet-view" data-view="tablet" class="btn btn-light btn-custom" title="Tablet view"
          data-vvveb-action="viewport">
          <i class="la la-tablet"></i>
        </button>
        <button id="desktop-view" data-view="" class="btn btn-light btn-custom" title="Desktop view"
          data-vvveb-action="viewport">
          <i class="la la-laptop"></i>
        </button>
      </div>
    </div>
    <!-- Left panel -->
    <div id="left-panel">
      <div class="drag-elements">
        <div class="header">
          <ul class="nav nav-tabs" id="elements-tabs" role="tablist">
            <li class="nav-item component-tab">
              <a class="nav-link active" id="components-tab" data-toggle="tab" href="#components" role="tab"
                aria-controls="components" aria-selected="true"><i class="la la-lg la-cube"></i>
                <div><small>Components</small></div>
              </a>
            </li>
            <li class="nav-item component-properties-tab" style="display:none">
              <a class="nav-link" id="components-tab" data-toggle="tab" href="#properties" role="tab"
                aria-controls="blocks" aria-selected="false"><i class="la la-lg la-cog"></i>
                <div><small>Properties</small></div>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="components" role="tabpanel" aria-labelledby="components-tab">
              <div class="search">
                <input class="form-control form-control-sm component-search" placeholder="Search components" type="text"
                  data-vvveb-action="componentSearch" data-vvveb-on="keyup">
                <button class="clear-backspace" data-vvveb-action="clearComponentSearch">
                  <i class="la la-close"></i>
                </button>
              </div>
              <div class="drag-elements-sidepane sidepane">
                <div>
                  <ul class="components-list clearfix" data-type="leftpanel">
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="blocks" role="tabpanel" aria-labelledby="blocks-tab">
              <div class="search">
                <input class="form-control form-control-sm block-search" placeholder="Search blocks" type="text"
                  data-vvveb-action="blockSearch" data-vvveb-on="keyup">
                <button class="clear-backspace" data-vvveb-action="clearBlockSearch">
                  <i class="la la-close"></i>
                </button>
              </div>
              <div class="drag-elements-sidepane sidepane">
                <div>
                  <ul class="blocks-list clearfix" data-type="leftpanel">
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="blocks-tab">
              <div class="component-properties-sidepane">
                <div>
                  <div class="component-properties">
                    <div class="mt-4 text-center">Click on an element to edit.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Canvas -->
    <div id="canvas" style="padding-bottom: 18px;">
      <div id="iframe-wrapper">
        <div id="iframe-layer">
          <div id="highlight-box">
            <div id="highlight-name"></div>
            <div id="section-actions">
              <a id="add-section-btn" href="" title="Add element"><i class="la la-plus"></i></a>
            </div>
          </div>
          <div id="select-box">
            <div id="wysiwyg-editor">
              <a id="bold-btn" href="" title="Bold"><i><strong>B</strong></i></a>
              <a id="italic-btn" href="" title="Italic"><i>I</i></a>
              <a id="underline-btn" href="" title="Underline"><u>u</u></a>
              <a id="strike-btn" href="" title="Strikeout">S</a>
              <a id="link-btn" href="" title="Create link"><strong>a</strong></a>
            </div>
            <div id="select-actions">
              <a id="drag-btn" href="" title="Drag element"><i class="la la-arrows"></i></a>
              <a id="parent-btn" href="" title="Select parent"><i class="la la-level-down la-rotate-180"></i></a>
              <a id="up-btn" href="" title="Move element up"><i class="la la-arrow-up"></i></a>
              <a id="down-btn" href="" title="Move element down"><i class="la la-arrow-down"></i></a>
              <a id="clone-btn" href="" title="Clone element"><i class="la la-copy"></i></a>
              <a id="delete-btn" href="" title="Remove element"><i class="la la-trash"></i></a>
            </div>
          </div>
          <!-- add section box -->
          <div id="add-section-box" class="drag-elements">
            <div class="header">
              <ul class="nav nav-tabs" id="box-elements-tabs" role="tablist">
                <li class="nav-item component-tab">
                  <a class="nav-link active" id="box-components-tab" data-toggle="tab" href="#box-components" role="tab"
                    aria-controls="components" aria-selected="true"><i class="la la-lg la-cube"></i>
                    <div><small>Components</small></div>
                  </a>
                </li>
                <li class="nav-item component-properties-tab" style="display:none">
                  <a class="nav-link" id="components-tab" data-toggle="tab" href="#box-properties" role="tab"
                    aria-controls="blocks" aria-selected="false"><i class="la la-lg la-cog"></i>
                    <div><small>Properties</small></div>
                  </a>
                </li>
              </ul>
              <div class="section-box-actions">
                <div id="close-section-btn" class="btn btn-light btn-sm bg-white btn-sm float-right"><i
                    class="la la-close"></i></div>
                <div class="small mt-1 mr-3 float-right">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="add-section-insert-mode-after" value="after" checked="true"
                      name="add-section-insert-mode" class="custom-control-input">
                    <label class="custom-control-label" for="add-section-insert-mode-after">After</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="add-section-insert-mode-inside" value="inside"
                      name="add-section-insert-mode" class="custom-control-input">
                    <label class="custom-control-label" for="add-section-insert-mode-inside">Inside</label>
                  </div>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="box-components" role="tabpanel"
                  aria-labelledby="components-tab">
                  <div class="search">
                    <input class="form-control form-control-sm component-search" placeholder="Search components"
                      type="text" data-vvveb-action="addBoxComponentSearch" data-vvveb-on="keyup">
                    <button class="clear-backspace" data-vvveb-action="clearComponentSearch">
                      <i class="la la-close"></i>
                    </button>
                  </div>
                  <div>
                    <div>
                      <ul class="components-list clearfix" data-type="addbox">
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="box-blocks" role="tabpanel" aria-labelledby="blocks-tab">
                  <div class="search">
                    <input class="form-control form-control-sm block-search" placeholder="Search blocks" type="text"
                      data-vvveb-action="addBoxBlockSearch" data-vvveb-on="keyup">
                    <button class="clear-backspace" data-vvveb-action="clearBlockSearch">
                      <i class="la la-close"></i>
                    </button>
                  </div>
                  <div>
                    <div>
                      <ul class="blocks-list clearfix" data-type="addbox">
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="box-properties" role="tabpanel" aria-labelledby="blocks-tab">
                  <div class="component-properties-sidepane">
                    <div>
                      <div class="component-properties">
                        <div class="mt-4 text-center">Click on an element to edit.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- //add section box -->
        </div>
        <iframe src="about:none" id="iframe1"></iframe>
      </div>
    </div>
    <div id="right-panel">
      <div class="component-properties">
      </div>
    </div>
    <!-- Bottom panel -->
    <div id="bottom-panel">
      <div class="btn-group" role="group">
        <button id="code-editor-btn btn-sm" data-view="mobile" class="btn btn-light btn-sm" title="Code editor"
          data-vvveb-action="toggleEditor">
          <i class="la la-code"></i> Code editor
        </button>
        <div id="toggleEditorJsExecute" class="custom-control custom-checkbox mt-1" style="display:none">
          <input type="checkbox" class="custom-control-input" id="customCheck" name="example1"
            data-vvveb-action="toggleEditorJsExecute">
          <label class="custom-control-label" for="customCheck"><small>Run javascript code on edit</small></label>
        </div>
      </div>
      <div id="vvveb-code-editor">
        <textarea class="form-control"></textarea>
        <div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="textarea-modal" tabindex="-1" role="dialog" aria-labelledby="textarea-modal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title text-primary"><i class="la la-lg la-save"></i> Export html</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><small><i class="la la-close"></i></small></span>
            </button>
          </div>
          <div class="modal-body">
            <textarea rows="25" cols="150" class="form-control"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"><i class="la la-close"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Open modal for update a page-->
    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Update page</h3>
          </div>
          <div>
            <form style="text-align:center;" [formGroup]="savedForm" (ngSubmit)="onSubmit(savedForm.value)">
              <div style="padding:15px; margin: 10px;">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="label">Page name</label>
                      <input type="text" name="pagename" class="form-control" formControlName="pagename"
                        placeholder="Enter page name" required>
                      <div *ngIf="submitted && savedForm.controls.pagename.errors" class="error-font">
                          <span *ngIf="savedForm.controls.pagename.errors.required" class="validation-error">Pagename is required</span>
                        </div> 
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="label">Page title</label>
                      <input type="text" name="title" formControlName="title" class="form-control"
                        placeholder="Enter page title" required>
                      <div *ngIf="submitted && savedForm.controls.title.errors" class="error-font">
                          <span *ngIf="savedForm.controls.title.errors.required" class="validation-error">Title is required</span>
                        </div> 
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="label">Page subtitle</label>
                      <input type="text" name="subtitle" class="form-control" formControlName="subtitle"
                        placeholder="Enter page subtitle" required>
                      <div *ngIf="submitted && savedForm.controls.subtitle.errors" class="error-font">
                          <span *ngIf="savedForm.controls.subtitle.errors.required" class="validation-error">Subtitle is required</span>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="label">Page description</label>
                      <input type="text" name="description" formControlName="description"
                        placeholder="Enter page description" class="form-control" required>
                        <div *ngIf="submitted && savedForm.controls.description.errors" class="error-font">
                            <span *ngIf="savedForm.controls.description.errors.required" class="validation-error">Description is required</span>
                          </div> 
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="label">Background image</label>
                      <input type="file" name="bgimage" formControlName="bgimage" (change)="onFileChange($event)"
                        placeholder="Upload background" class="form-control">
                        <div *ngIf="submitted && savedForm.controls.bgimage.errors" class="error-font">
                            <span *ngIf="savedForm.controls.bgimage.errors.required" class="validation-error">Background image is required</span>
                          </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="label">Meta title</label>
                      <input type="text" name="metatitle" formControlName="metatitle" class="form-control"
                        placeholder="Enter meta title" required>
                        <div *ngIf="submitted && savedForm.controls.metatitle.errors" class="error-font">
                            <span *ngIf="savedForm.controls.metatitle.errors.required" class="validation-error">Meta-title is required</span>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="label">Meta description</label>
                      <input type="text" class="form-control" name="metadescription" formControlName="metadescription"
                        placeholder="Enter meta description" required>
                        <div *ngIf="submitted && savedForm.controls.metadescription.errors" class="error-font">
                            <span *ngIf="savedForm.controls.metadescription.errors.required" class="validation-error">Meta-description is required</span>
                          </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="label">Meta keywords</label>
                      <input type="text" class="form-control" name="meta_keywords" formControlName="meta_keywords"
                        placeholder="Enter meta keywords" required>
                        <div *ngIf="submitted && savedForm.controls.meta_keywords.errors" class="error-font">
                            <span *ngIf="savedForm.controls.meta_keywords.errors.required" class="validation-error">Meta-keywords is required</span>
                          </div>
                    </div>
                  </div>
                </div>
                <textarea rows="25" id="template" name="template" formControlName="template" cols="150" class="form-control"
                style="display:none;"></textarea>
                <textarea rows="25" id="draft_html" name="draft_html" formControlName="draft_html" cols="150" class="form-control"
                style="display:none;"></textarea>
                <textarea rows="25" id="publish_html" name="publish_html" formControlName="publish_html" cols="150" class="form-control"
                  style="display:none;"></textarea>
              </div>
              <div>
                <div class="modal-footer">
                    <button type="submit" (click)="savehtml('Publish')" class="btn btn-primary" [disabled]="savedForm.invalid"
                    style="width:90px;">Publish</button>
                    <button type="submit" (click)="savehtml('Draft')" class="btn btn-primary" [disabled]="savedForm.invalid"
                    style="width:90px;">Draft</button>
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">
                    Close</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <ngx-spinner></ngx-spinner>
</section>