<section>
  <form [formGroup]="savedForm" (ngSubmit)="onSubmit(savedForm.value)">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="label">Add new news</label>
                <input type="text" name="newsname" formControlName="newsname" class="form-control"
                  placeholder="Enter news title">
                  <div *ngIf="submitted && savedForm.controls.newsname.errors" class="error-font">
                      <span *ngIf="savedForm.controls.newsname.errors.required" class="validation-error">News title is required</span>
                    </div> 
              </div>
            </div>
          </div>
          <div>
            <textarea id="full-featured" name="html" placeholder="Enter blog detail" class="form-control" formControlName="html"></textarea>
            <div *ngIf="submitted && savedForm.controls.html.errors" class="error-font">
              <span *ngIf="savedForm.controls.html.errors.required" class="validation-error">Blog detail is required</span>
            </div>
          </div>
          <div>
            <!-- SEO card -->
            <div class="card" style="margin-top:40px;">
              <div class="card-header">
                <h6>SEO</h6>
              </div>
              <div class="card-body">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="label">Meta title</label>
                        <input type="text" name="meta_title" #tag class="form-control" formControlName="meta_title"
                          placeholder="Enter meta title">
                          <div *ngIf="submitted && savedForm.controls.meta_title.errors" class="error-font">
                              <span *ngIf="savedForm.controls.meta_title.errors.required" class="validation-error">Meta title is required</span>
                            </div> 
                      </div>
                    </div>
                    <div class="col-12">
                      <label class="label">Meta description</label>
                      <textarea id="meta_description" name="meta_description" class="form-control"
                        formControlName="meta_description" placeholder="Enter meta description">
                        </textarea>
                        <div *ngIf="submitted && savedForm.controls.meta_description.errors" class="error-font">
                            <span *ngIf="savedForm.controls.meta_description.errors.required" class="validation-error">Meta description is required</span>
                          </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- SEO card -->
          </div>
        </div>
        <div class="col-4">
          <!-- Publish card -->
          <div class="card" style="width: 20rem;margin-top:40px;">
            <div class="card-header">
              <h6>Publish</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 pt-2">
                  <i class="la la-lg la-key"></i> <span>Status:</span>
                  <div class="col-sm-9 pt-2">
                    <div>
                      <select class="form-control " (change)="selectChangeHandler($event)" name="status"
                        formControleName="status">
                        <option value="Draft">Draft</option>
                        <option value="Publish">Publish</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12  pt-2">
                  <i class="la la-lg la-eye"></i> <span> Visibility:</span>
                  <label class="radio-inline"><input type="radio" name="visibility" formControlName="visibility"
                      value="Public" [checked]="true">Public </label>
                  <label class="radio-inline"><input type="radio" name="visibility" formControlName="visibility"
                      value="Private">Private</label><br>
                </div>
              </div>
              <div *ngIf="statusResult" class="row">
                <div class="col-12  pt-2">
                  <i class="la la-lg la-calendar"></i> <span>Publish:</span>
                  <label class="radio-inline"><input type="radio" name="publish_on" formControlName="publish_on" value="Immediately"
                      [checked]="true">Immediately </label>
                  <label class="radio-inline"><input type="radio" name="publish_on" formControlName="publish_on"
                      value="Date">Date</label>
                  <input *ngIf="savedForm.value.publish_on == 'Date'" type="text" placeholder="Enter publish date"
                    class="form-control" formControlName="publish_date" bsDatepicker>
                </div>
              </div>
            </div>
          </div>
          <!-- Categories card -->
          <div class="card" style="width: 20rem;margin-top:40px;">
            <div class="card-header">
              <h6>Categories</h6>
            </div>
            <div class="card-body">
              <div class="col-12">
                <ul formArrayName="categorie">
                  <li *ngFor="let item of data ;let index = index">
                    <input type="checkbox" class="form-check-input" [formControlName]="index" [value]="item.id">
                    <label class="form-check-label">{{item.name}}</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Tags card -->
          <div class="card" style="width: 20rem;margin-top:40px;">
            <div class="card-header">
              <h6>Tags</h6>
            </div>
            <div class="card-body">
              <div class="col-12">
                <div class="row">
                  <div class="col-9">
                    <div class="form-group">
                      <input type="text" name="tag" #tag class="form-control" formControlName="tag"
                        placeholder="Enter your tag" required>
                        <div *ngIf="submitted && savedForm.controls.tag.errors" class="error-font">
                            <span *ngIf="savedForm.controls.tag.errors.required" class="validation-error">Tags are required</span>
                          </div> 
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <button class="btn btn-secondary" style="float:right" (click)="taged(tag.value)"
                        type="button">Add</button>
                    </div>
                  </div>
                </div>
                <div class="chip" *ngFor="let item of tags;" style="margin-left:10px;">
                  {{item}}
                  <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Fetaure image card -->
          <div class="card" style="width: 20rem;margin-top:40px;">
            <div class="card-header">
              <h6>Feature image</h6>
            </div>
            <div class="card-body">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="file" name="featureimage" formControlName="featureimage" class="form-control"
                    (change)="onFileChange($event)">
                    <div *ngIf="submitted && savedForm.controls.featureimage.errors" class="error-font">
                        <span *ngIf="savedForm.controls.featureimage.errors.required" class="validation-error">Featured image is required</span>
                      </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
              <div class="col-12">
                <div class="row-12">
                  <button class="btn btn-primary" style="float:right" type="submit">Save</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </form>
</section>