.chip {
    display: inline-block;
    padding: 0 12px;
    height: 32px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-top:10px;
    margin-bottom:8px;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }