<section style="background-color: #fff;">
  <div class="container" style="padding-top:25px; padding-bottom:25px;">
    <div class="row">
      <div class="col">
        <h4>Contact-Us listing</h4>
      </div>
    </div>
    <table
      class="table table-striped"
      id="table"
      [mfData]="data | filter: searchTxt"
      #mf="mfDataTable"
      [mfRowsOnPage]="8"
    >
      <thead>
        <tr class="title-color">
          <th>
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="Email">Email</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="PhoneNo">Phone No</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="Subject">Subject</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="message">Message</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="createdAt">Submitted On</mfDefaultSorter>
          </th>
          <th class="action">
            <mfDefaultSorter by="action">Action</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of mf.data;"
          style="text-align: left;"
        >
          <td>
            {{ item.firstName }} {{ item.lastName }}
          </td>
          <td>
            <span *ngIf="item.email"><a href="mailto:{{ item.email }}">{{item.email}}</a></span>
          </td>
          <td>
            {{ item.phoneNo }}
          </td>
          <td>
            {{ item.subject }}
            <span *ngIf="item.interestedIn"><br /><b>Interested In: </b>{{ item.interestedIn }}</span>
            <span *ngIf="item.booking"><br /><b>Booking in a year: </b>{{ item.booking }}</span>
          </td>
          <td>
            {{ item.message }}
          </td>
          <td>
            {{ item.createdAt | date: "yyyy/MM/dd" }}<br />{{
              item.createdAt | date: "hh:mm a"
            }}
          </td>
          <td style="width:170px; text-align:center"><button class="btn btn-primary editbtn"
            (click)='editContactUs(item)'><i class="la la-lg la-edit"></i></button><button
            class="btn btn-danger delbtn" (click)='delete(item.id)'><i class="la la-lg la-trash-o"></i></button>
        </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

   <!-- Categorie delete model -->
   <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Delete</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete contact?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="width:90px;" (click)="cdelete()"
            data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- contact-us edit/update model -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Edit Contact-us</h3>
        </div>
        <div>
          <form [formGroup]="editForm" (ngSubmit)="editsave(editForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">First name</label>
                    <input type="text" name="firstName" class="form-control" formControlName="firstName"
                      placeholder="Enter first name" required>
                    <div *ngIf="submitted && editForm.controls.firstName.errors" class="error-font">
                        <span *ngIf="editForm.controls.firstName.errors.required" class="validation-error">First name is required</span>
                      </div>   
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Last name</label>
                    <input type="text" name="lastName" formControlName="lastName" class="form-control"
                      placeholder="Enter last Name" required>
                    <div *ngIf="submitted && editForm.controls.lastName.errors" class="error-font">
                        <span *ngIf="editForm.controls.lastName.errors.required" class="validation-error">Last name is required</span>
                      </div> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Email</label>
                    <input type="text" name="email" class="form-control" formControlName="email"
                      placeholder="Enter email" required>
                    <div *ngIf="submitted && editForm.controls.email.errors" class="error-font">
                        <span *ngIf="editForm.controls.email.errors.required" class="validation-error">Email is required</span>
                      </div> 
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Phone No</label>
                    <input type="text" name="phoneNo" class="form-control" formControlName="phoneNo"
                      placeholder="Enter Phone No" required>
                      <div *ngIf="submitted && editForm.controls.phoneNo.errors" class="error-font">
                          <span *ngIf="editForm.controls.phoneNo.errors.required" class="validation-error">Phone No is required</span>
                        </div> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">They would like to speak to</label>
                    <select class="form-control custom-select" name="subject" formControlName="subject" (change)="selectChangeHandler($event)">
                      <option *ngFor="let l of subject" [value]="l">{{l}}</option>
                    </select>
                    <div *ngIf="submitted && editForm.controls.subject.errors" class="error-font">
                      <span *ngIf="editForm.controls.subject.errors.required" class="validation-error">Please select Subject</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="result">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Interested in</label>
                    <select class="form-control custom-select" name="interestedIn" formControlName="interestedIn">
                      <option *ngFor="let l of interestedIn" [value]="l">{{l}}</option>
                    </select>
                    <div *ngIf="submitted && editForm.controls.interestedIn.errors" class="error-font">
                      <span *ngIf="editForm.controls.interestedIn.errors.required" class="validation-error">Please select InterestedIn</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Private transport bookings in a year?</label>
                    <select class="form-control custom-select" name="booking" formControlName="booking">
                      <option *ngFor="let l of booking" [value]="l">{{l}}</option>
                    </select>
                    <div *ngIf="submitted && editForm.controls.booking.errors" class="error-font">
                      <span *ngIf="editForm.controls.booking.errors.required" class="validation-error">Please select Booking</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="label">Message</label>
                    <input type="text" class="form-control" name="message" formControlName="message"
                      placeholder="Enter message" required>
                    <div *ngIf="submitted && editForm.controls.message.errors" class="error-font">
                        <span *ngIf="editForm.controls.message.errors.required" class="validation-error">Message is required</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid"
                  style="width:90px;">Save</button>
                <button type="button" class="btn btn-secondary " data-dismiss="modal">
                  Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <notifier-container></notifier-container>
</section>
