<!-- <section style="background-color: #fff;">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="container" style="padding-top:25px; padding-bottom:25px;">
      <div class="row">
        <div class="col">
          <h4>Login</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
              <label class="label">Email</label>
              <input type="text" name="email" formControlName="email" class="form-control input" placeholder="Enter email">
              <div *ngIf="submitted && loginForm.controls.email.errors" class="error-font">
                <span *ngIf="loginForm.controls.email.errors.required" class="validation-error">Email is required</span>
              </div> 
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
              <label class="label">Password</label>
              <input type="password" name="password" formControlName="password" class="form-control input" placeholder="Enter password">
              <div *ngIf="submitted && loginForm.controls.password.errors" class="error-font">
                <span *ngIf="loginForm.controls.password.errors.required" class="validation-error">Password is required</span>
              </div> 
            </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <input type="checkbox" class="custom-control-input" id="rememberMe" formControlName="rememberMe">
            <label class="custom-control-label" for="customCheck1">Remember Me</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="" class="content-color-primary">Forgot Password?</a>
        </div>
      </div> -->
<!--<div class="row">
        <div class="col-lg-6">
          <button type="submit" class="btn-primary" style="width:80px;height:35px;float:right;"> Login</button>
        </div>
      </div>
      <notifier-container></notifier-container>
    </div>
  </form>
</section> -->

<div class="wrapper">
  <form
    class="form-signin"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value)"
  >
    <h2 class="form-signin-heading text-center">Login</h2>
    <input
      type="text"
      class="form-control"
      name="username"
      placeholder="Email Address"
      required=""
      autofocus=""
      formControlName="email"
    />
    <div
      *ngIf="submitted && loginForm.controls.email.errors"
      class="error-font"
    >
      <span
        *ngIf="loginForm.controls.email.errors.required"
        class="validation-error"
        >Email is required</span
      >
    </div>
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
      required=""
      formControlName="password"
    />
    <div
      *ngIf="submitted && loginForm.controls.password.errors"
      class="error-font"
    >
      <span
        *ngIf="loginForm.controls.password.errors.required"
        class="validation-error"
        >Password is required</span
      >
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Login
    </button>
  </form>
</div>
