.dashed-border {
	border-style: dashed;
}
.bg-blue {
	background-color: #128ec2;
}
.text-15 {
	font-size: 15px;
}
.text-36 {
	font-size: 36px;
}
.highlight {
	color: #fd7f11;
}
.text-18 {
	font-size: 18px;
}
.rounded-border {
	border-radius: 50px;
}
.text-16 {
	font-size: 16px;
}
.border-15 {
	border-radius: 15px;
}
.w-120 {
	width: 120px;
}
.red {
	color: #f90000;
}
.input-type-bg {
	background-color: #f4f5f8;
}
.block {
	display: block;
}
.float-left {
	float: left;
}
.booking-textarea-bg {
	background-color: #f4f5f8;
}
.switch {
	position: relative;
	display: flex;
	width: 60px;
	height: 28px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 5px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #2196F3;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}

@media screen and (max-width:767px) and (min-width:320px) {
.fa-exchange {
	padding-top: 0!important;
	transform: rotate(90deg);
}
}

@media screen and (max-width:991px) and (min-width:320px) {
.png-vehicle {
	display: none;
}
}
.bg-orange {
	background-color: #fc7f10;
}
.margin-top {
	margin-top: -22px;
	z-index: 1000;
}
.text-footer {
	color: #ababab;
}
.marginbottom {
	margin-top: 20px!important;
	margin-bottom: 20px!important;
}
.fontweight5 {
	font-weight: 500;
}

@media only screen and (max-width:1199px) and (min-width:992px) {
.padding-left-10 {
	padding-left: 10px!important;
}
}

@media only screen and (max-width:767px) {
.footer-area {
	text-align: center!important;
}
.footer-area .mini-footer .copyright-text {
	text-align: center!important;
	margin: 10px!important
}
.footer-area .mini-footer .social {
	text-align: center!important;
}
}

@media only screen and (max-width:767px) and (min-width:576px) {
.padding-top-8 {
	padding-top: 8px!important;
}
.field-wrapper .btn {
	padding: 0 15px;
}
}

@media only screen and (max-width:480px) {
.social {
	width: 90%!important;
	padding-left: 50px!important;
}
}
.detail-bg {
	background-color: #eff1f5;
}

@media screen and (max-width:411px) and (min-width:320px) {
.vehicle-information h1 {
	font-size: 20px;
}
.brackets {
	font-size: 12px;
}
}

@media screen and (max-width:991px) and (min-width:768px) {
.vehicle {
	font-size: 22px;
}
.brackets {
	font-size: 14px;
}
}

@media screen and (max-width:767px) and (min-width:320px) {
.vehicle {
	font-size: 22px;
}
.brackets {
	font-size: 14px;
}
}
.big-box {
	padding-top: 150px;
	padding-bottom: 70px;
}

@media screen and (max-width:500px) and (min-width:320px) {
.big-box {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 75%;
	margin: auto;
	display: block;
}
.box {
	width: 200px;
}
}

@media screen and (max-width:991px) and (min-width:768px) {
.box {
	padding: 2px;
	width: 75%!important;
}
}

@media screen and (max-width:767px) and (min-width:320px) {
.box {
	padding: 2px;
	width: 75%!important;
}
}
.line-height {
	line-height: 3px;
}
.block {
	display: block;
}
.border-all {
	border: 1px solid #C3C1C1;
}

@media screen and (max-width:767px) and (min-width:500px) {
.big-box {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 50%;
	margin: auto;
	display: block;
}
}
.text-12 {
	font-size: 12px;
}
.text-13 {
	font-size: 13px;
}
.text-14 {
	font-size: 14px;
}
.text-24 {
	font-size: 24px;
}
.text-footer-heading {
	color: #818181;
}
.green {
	color: #03bd22;
}
.navbar {
	background-color: #eff0f4;
}
.border-dashed-blue {
	border: 1px dashed #128ec2;
}
.dashed-border {
	border-style: dashed;
}
.btn {
	border-radius: 50px;
}
.text-nav {
	color: #333333;
}
.medium {
	font-weight: 500;
}
@media screen and (max-width:575px) and (min-width:320px) {
	.banner-search{
		display: none;
	}
}
@media screen and (max-width:767px) and (min-width:320px) {
.proceed-btn {
	font-size: 14px;
}
}
.text-blue {
	color: #128ec2;
}
@media screen and (max-width:991px) and (min-width:768px) {
.acc-text {
	font-size: 12px;
	
}
.pound {
	font-size: 22px;
}
.proceed-btn {
	font-size: 12px;
	width: 80%;
	margin: auto;
	display: block;
	padding-left: 10px!important;
}
@media screen and (max-width:767px) and (min-width:320px) {
.acc-text {
 font-size: 12px;
}
 .pound {
 font-size: 22px;
}
}
@media screen and (max-width:991px) and (min-width:768px) {
 .info-1 {
 font-size: 14px;
}
}
	@media only screen and (max-width:480px){
	.social{
		width:90%!important;
		padding-left: 50px!important;
	}
}
