@media (max-width: 1197px) {
  .flatpickr-calendar {
    width: 396px !important;
  }

  #interChange {
    left: 412px !important;
    top: 35px !important;
  }
  user-single-registration span.pwdView {
    margin-top: -52px !important;
  }
}

@media screen and (max-width: 992px) {  
  user-single-registration span.pwdView {
    margin-top: -30px !important;
  }
  #interChange {
    left: 302px !important;
    top: 35px !important;
  }

  .timeContainer {
    width: 91% !important;
  }

  .flatpickr-calendar {
    width: 601px !important;
  }

  .ListGroupList::after {
    right: 214px !important;
  }

  .ListGroupList {
    right: 472px !important;
  }

  ul.nav-tabs li a {
    padding: 0 19.2px !important;
  }

  .TimePicker-main {
    margin-top: 160px !important;
  }
  .sorting ul{
    line-height: 30px !important;
  }
  .item-thumb img {
    height: 60px !important;
    width: 60px !important;
  }
  .myBookingFrm{
    margin-left: 0px !important;
    width: 340px !important;
  }
  div#myBookingFrm::before{
      left:30px !important;
  }
  .emailCtrl input {
    width: 77% !important;
    margin: 0 0 19px 0px !important;
  }
  .emailCtrl #contactNumber{
    border-left:none !important;
  }
  .emailCtrl #contactNumber div.input-group{
    margin-top: 0px !important;
    width: 77%;
  }
  .emailCtrl #contactNumber .dropbtn {
    height: 45px !important;
    margin-top: 0 !important;
  }
  .emailCtrl #contactNumber div.input-group {
      margin-top: 0px !important;
  }
  .emailCtrl form {
      width: 501px;
  }
  .emailCtrl #contactNumber .input-group-addon {
    width: 35px;
    height: 45px;
  }
  .emailCtrl button[type='submit']{
    width: 77% !important;
  }
  .emailCtrl .col-md-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .emailCtrl {
      width: 390px !important;
  }
  .emailCtrl .list-group.scrollable-menu {
    width: 385px;
  }
}

@media (max-width: 767px) {
  user-single-registration span.pwdView {
    margin-top: -30px !important;
  }
  #interChange {
    left: 218px !important;
    top: 76px !important;
  }

  div.ng-invalid-custom~#interChange {
    left: 222px !important;
    top: 104px !important;
  }

  .timeContainer {
    width: 87% !important;
  }

  .flatpickr-calendar {
    width: 420px !important;
  }

  .form-control {
    line-height: 2.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }

  .ListGroupList::after {
    right: 214px !important;
  }

  .ListGroupList {
    right: 296px !important;
  }

  .scBtn {
    padding: 7px 5px !important;
    font-size: 11px !important;
  }

  .scBtn i {
    padding-right: 4px !important;
    margin-top: -1px !important;
    font-size: 10px !important;
  }

 

  ul.nav-tabs li a {
    padding: 0 19.2px !important;
  }

  .signin-modal-mobile {
    display: block !important;
  }

  .signin-modal-destop {
    display: none !important;
  }

  .TimePicker-main {
    margin-top: 160px !important;
  }

  .footer-area {
    text-align: left !important;
  }

  .footer-area .lnr.indicator {
    display: inline-block !important;
    float: right !important;
    margin-top: 10px;
  }

  .footer-widget-title~ul {
    display: none;
  }

  .footer-widget-title.active~ul {
    display: block !important;
  }

  .footer-area .footer-menu {
    margin-top: 10px;
    margin-bottom: 0px !important;
  }

  .footer-big.section--padding {
    padding: 20px 0 !important;
  }
  .customer-user-icon{
    font-size: 70px !important;
  }
  .sorting ul{
    line-height: 30px !important;
  }
  .em.InnerVechilelist{
    margin-left: -396px !important;
  }
  .item-thumb img {
      height: 60px !important;
      width: 60px !important;
  }
  .cvvInfo img{
    height: 150px !important;
    width: 150px !important;
  }
  span.pwdView1{
    right: 60px !important;
  }
  .form-group {
    margin-bottom: 8px;
  }
  .myBookingFrm{
    margin-left: 0px !important;
    width: 340px !important;
  }
  div#myBookingFrm::before{
      left:30px !important;
  }
  .emailCtrl input {
    width: 77% !important;
    margin: 0 0 19px 0px !important;
  }
  .emailCtrl #contactNumber{
    border-left:none !important;
  }
  .emailCtrl #contactNumber div.input-group{
    margin-top: 0px !important;
    width: 411px;
  }
  .emailCtrl #contactNumber .dropbtn {
    height: 45px !important;
    margin-top: 0 !important;
  }
  .emailCtrl #contactNumber div.input-group {
      margin-top: 0px !important;
  }
  .emailCtrl form {
      width: 532px;
  }
  .emailCtrl #contactNumber .input-group-addon {
    width: 35px;
    height: 45px;
  }
  .emailCtrl button[type='submit']{
    width: 77% !important;
  }
  .emailCtrl {
    width: 410px !important;
  }
  .emailCtrl .list-group.scrollable-menu {
    width: 318px;
  }
}

@media (max-width: 578px) {
  .flatpickr-calendar {
    width: 75% !important;
  }

  .form-control {
    line-height: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }

  .ListGroupList::after {
    right: 214px !important;
  }

  .ListGroupList {
    right: 214px !important;
  }

  ul.nav-tabs li a {
    padding: 0 19.2px !important;
  }

  .scBtn {
    padding: 7px 5px !important;
    font-size: 9px !important;
  }

  .scBtn i {
    padding-right: 4px !important;
    margin-top: -1px !important;
    font-size: 10px !important;
  }

  .item-thumb img {
    height: 60px !important;
    width: 60px !important;
  }

  .signin-modal-mobile {
    display: block !important;
  }

  .text-separateLine {
      line-height: .6rem !important;
      padding: 0px !important;
  }
  .login--form {
      padding: 5px 18px 0 !important;
  }
  .signin-modal-destop {
    display: none !important;
  }

  .TimePicker-main {
    margin-top: 160px !important;
  }

  .footer-area {
    text-align: left !important;
  }

  .footer-area .lnr.indicator {
    display: inline-block !important;
    float: right !important;
  }

  .footer-widget-title~ul {
    display: none;
  }

  .footer-widget-title.active~ul {
    display: block !important;
  }

  .footer-area .footer-menu {
    margin-bottom: 0px !important;
  }
  .footer-big.section--padding {
    padding: 20px 0 !important;
  }
  #interChange {
    left: 180px !important;
    top: 75px !important;
  }
  div.ng-invalid-custom~#interChange {
    left: 180px !important;
    top: 106px !important;
  }
  .customer-user-icon{
    font-size: 70px !important;
  }
  .sorting ul{
    line-height: 30px !important;
  }
  .em.InnerVechilelist{
    margin-left: -396px !important;
  }
  .cvvInfo img{
    height: 100px !important;
    width: 100px !important;
  }
  span.pwdView1{
    right: 60px !important;
  }
  .form-group {
    margin-bottom: 8px;
  }
  .login {
    padding: 10px 0 !important;
  }
  .myBookingFrm{
    margin-left: 0px !important;
    width: 340px !important;
  }
  div#myBookingFrm::before{
      left:30px !important;
  }
  .emailCtrl input {
    width: 77% !important;
    margin: 0 0 19px 0px !important;
  }
  .emailCtrl #contactNumber{
    border-left:none !important;
  }
  .emailCtrl #contactNumber div.input-group{
    margin-top: 0px !important;
    width: 317px;
  }
  .emailCtrl #contactNumber .dropbtn {
    height: 45px !important;
    margin-top: 0 !important;
  }
  .emailCtrl #contactNumber div.input-group {
      margin-top: 0px !important;
  }
  .emailCtrl form {
      width: 414px;
  }
  .emailCtrl #contactNumber .input-group-addon {
    width: 35px;
    height: 45px;
  }
  .emailCtrl button[type='submit']{
    width: 77% !important;
  }
  .emailCtrl .col-md-3 {
    padding-left: 15px !important;
  }
  .emailCtrl {
    width: 310px !important;
  }
  .emailCtrl .list-group.scrollable-menu {
      width: 318px;
  }
}

@media (max-width: 448px) {
  .ListGroupList {
    right: 42px !important;
  }
  .myBookingFrm{
    margin-left: 0px !important;
    width: 280px !important;
  }
  #interChange {
    left: 113px !important;
    top: 75px !important;
  }
  div.ng-invalid-custom~#interChange {
    left: 113px !important;
    top: 106px !important;
  }
  ul.nav-tabs li{
    width: 100%;
  }
  ul.nav-tabs li a:before{
    background: none !important;
  }
  .inclusion .description{
    padding-left: 10px;
  }
  .ccCard {
    top: 190px !important;
  }
  .emailCtrl input {
    width: 77% !important;
    margin: 0 0 19px 0px !important;
  }
  .emailCtrl #contactNumber{
    border-left:none !important;
  }
  .emailCtrl #contactNumber div.input-group{
    margin-top: 0px !important;
    width: 258px;
  }
  .emailCtrl #contactNumber .dropbtn {
    height: 45px !important;
    margin-top: 0 !important;
  }
  .emailCtrl #contactNumber div.input-group {
      margin-top: 0px !important;
  }
  .emailCtrl form {
      width: 337px;
  }
  .emailCtrl #contactNumber .input-group-addon {
    width: 35px;
    height: 45px;
  }
  .emailCtrl button[type='submit']{
    width: 77% !important;
  }
  .emailCtrl {
    width: 280px !important;
  }
  .emailCtrl .list-group.scrollable-menu{
    width: 257px;
  }
}

@media (max-width: 320px){
  .emailCtrl form {
      width: 338px;
  }

  .emailCtrl .list-group.scrollable-menu{
    width: 257px;
  }
}