.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.medium{
	font-weight: 500;
}
.text-nav{
	color: #333333;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* width */
#scroll::-webkit-scrollbar {
  width: 2px;
}

/* Track */
#scroll::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
#scroll::-webkit-scrollbar-thumb {
  background: #d7d7d7!important; 
}

/* Handle on hover */
#scroll::-webkit-scrollbar-thumb:hover {
  background: #0f80b8!important; 
}















.fontweight3{font-weight:300;}
.fontweight4{font-weight:400;}
.fontweight5{font-weight: 500;}
.fontweight6{font-weight:600;}

.fontsize9{font-size:9px!important;}
.fontsize10{font-size:10px!important;}
.fontsize11{font-size:11px!important;}
.fontsize12{font-size:12px!important;}
.fontsize13{font-size:13px!important;}
.fontsize14{font-size:14px!important;}
.fontsize15{font-size:15px!important;}
.fontsize16{font-size:16px!important;}
.fontsize17{font-size: 17px!important;}

.width1{width:43%!important;}
.paddingright{padding-right: 48px!important;}
.filter__option{width:100%!important;}

.marginbottom{
	margin-top:20px!important;
	margin-bottom: 20px!important;
}

.text-nav {
	color: #333333;
}
.btn-blue{
	background-color: #0f80b8;
	color: white;
	height: 35px;
	width: 80px;
	border-radius: 22px;
}
.bg-button{
	background-color:#9e9792;
}

.sidebar-card .overflow{
	overflow: scroll!important;
	overflow-x: hidden!important;
	max-height: 300px!important;
}
.product--list .product-purchase .price_love{
	padding-bottom: 0!important;
}
.product-purchase .price_love > span{
	background-color: #f4f4f4!important;
	color: #fd7f10;
	width: 120px!important;
	font-size: 16px!important;
}

.pagination-area .prev.page-numbers:hover, .pagination-area .next.page-numbers{}

.pagination-area{text-align: right!important;}




@media only screen and (max-width:1199px) and (min-width:992px){
	.padding-left-10{padding-left: 10px!important;}
	.paddingbottom{padding-bottom: 15px!important;}
	.width1{width:35%!important;}
	.width2{width:33%!important;}
	.width3{width:33%!important;}
	.padtop{padding-top:5px!important;}
	.product-purchase{border-left: 1px solid #ececec!important;}
	.product .product__thumbnail:before{position:inherit;}
}
@media only screen and (max-width:992px) and (min-width:767px){
	.paddingbottom{padding-bottom: 15px!important;}
	.width1{width:35%!important;}
	.width2{width:34%!important;}
	.width3{width:30%!important;}
	.padtop{padding-top:0px!important;margin-top: 0px!important;}
	.product-purchase{border-left: 1px solid #ececec!important;}
	.product .product__thumbnail:before{position:inherit;}
	.pagination-area{text-align: center!important;}
	.pagination-text{text-align: center!important;}
}
@media only screen and (max-width:767px) and (min-width:481px){
	.width1{width:60%!important;padding-top: 15px!important;}
	.width2{width:40%!important;}
	.width3{width:100%!important;}
	.product--rating{margin: 0!important;}
	.padtop{padding-top:10px!important;}
	.product .product__thumbnail:before{position:inherit;}
	.pagination-area{text-align: center!important;}
	.pagination-text{text-align: center!important;}
}
@media only screen and (max-width:480px){
	
	.width1{width:100%!important;margin-bottom: 0!important;}
	.width2{width:100%!important;}
	.width3{width:100%!important;}
	.product--rating{margin: 0!important;}
	.padtop{padding-top:10px!important;}
	.product .product__thumbnail:before{position:inherit;}
	.pagination-area{text-align: center!important;}
	.pagination-text{text-align: center!important;}
	.none{display: none!important;}
}
@media only screen and (max-width:767px){
	.footer-area{text-align: center!important;}
	.footer-area .mini-footer .copyright-text{text-align: center!important;margin:10px!important}
	.footer-area .mini-footer .social{text-align: center!important;}
}

@media only screen and (max-width:767px) and (min-width:576px){
	.padding-top-8{padding-top:8px!important;}
	.field-wrapper .btn {padding:0 15px;}
}
@media only screen and (max-width:575px){
/* .modify{
		display: none!important;
	} */
}
@media only screen and (max-width:480px){
	.social{
		width:90%!important;
		padding-left: 50px!important;
	}
}