<section style="background-color: #fff;">
  <div class="container" style="padding-top:25px; padding-bottom:25px;">
    <div class="row">
      <div class="col">
        <h4>Category listing</h4>
      </div>
      <div class="col ">
        <button class="btn btn-secondary add" (click)="addcategories()"><i class="fa fa-plus" aria-hidden="true"></i> <b>
          Add</b></button>
      </div>
    </div>
    <!-- Table -->
    <table class="table table-striped" id="table" [mfData]="data | filter:searchTxt" #mf="mfDataTable"
      [mfRowsOnPage]="8">
      <thead>
        <tr class="title-color">
          <th>
            <mfDefaultSorter by="categoryname">Category name</mfDefaultSorter>
          </th>
          <th class="action">
            <mfDefaultSorter by="action">Action</mfDefaultSorter>
          </th>
         </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data;" style="text-align: left;">
          <td>{{item.name}}</td>
          <td style="width:170px; text-align:center"><button class="btn btn-primary editbtn"
              (click)='editcategories(item)'><i class="la la-lg la-edit"></i></button><button
              class="btn btn-danger delbtn" (click)='delete(item.id)'><i class="la la-lg la-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
    <!-- Table -->
  </div>

  <!-- Categorie delete model -->
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Delete</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete category?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="width:90px;" (click)="cdelete()"
            data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            Cancel</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Categorie Add model -->
  <div class="modal fade" id="message-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Add category</h3>
        </div>
        <div>
          <form [formGroup]="savedForm" (ngSubmit)="onSubmit(savedForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Category name</label>
                    <input type="text" name="categoryname" class="form-control" formControlName="categoryname"
                      placeholder="Enter category name" required>
                      <div *ngIf="submitted && savedForm.controls.categoryname.errors" class="error-font">
                        <span *ngIf="savedForm.controls.categoryname.errors.required" class="validation-error">Category name is required</span>
                      </div> 
                  </div>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="savedForm.invalid"
                style="width:90px;">Save</button>
              <button type="button" class="btn btn-secondary " data-dismiss="modal">
                Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Categorie edit/update model -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Edit category</h3>
        </div>
        <div>
          <form [formGroup]="editForm" (ngSubmit)="editsave(editForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Category name</label>
                    <input type="text" name="categoryname" class="form-control" formControlName="categoryname"
                      placeholder="Enter category name">
                  </div>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid"
                style="width:90px;">Save</button>
              <button type="button" class="btn btn-secondary " data-dismiss="modal">
                Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <notifier-container></notifier-container>
</section>