<div id="main-content" class="main-content" style="background: #fff;">
  <div class="container" style="padding-top: 50px; padding-bottom: 25px; ">
    <div class="row">
        <h3>Create your own home page here!</h3>
    </div>
  </div>
</div>
