<div id="main-content" class="main-content" style="background: #fff;">

    <!--why choose-->
<section *ngIf="this.bookingDetails == null" class="why_choose">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h1>TripCenter. Enjoy the ride.</h1>
            <p>The world's no. 1 booking site for chauffeured car, minibus and chartered bus hire. We've got vehicles and drivers waiting for you in thousands of cities globally – and we're growing all the time.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="feature2"> <span class="feature2__count"></span>
            <div class="feature2__content"> <span class="lnr lnr-earth pcolor"></span>
              <h3 class="feature2-title">
                Global marketplace</h3>
              <p>Book your reliable chauffeured transport everywhere in the world</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature2"> <span class="feature2__count"></span>
            <div class="feature2__content"> <span class="lnr lnr-select scolor"></span>
              <h3 class="feature2-title">The luxury of choice</h3>
              <p>Easily search and compare thousands of vehicles and prices</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature2"> <span class="feature2__count"></span>
            <div class="feature2__content"> <span class="lnr lnr-star mcolor1"></span>
              <h3 class="feature2-title">Quality assured</h3>
              <p>All vehicles meet our rigorous compliance and quality standards </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature2"> <span class="feature2__count"></span>
            <div class="feature2__content"> <span class="lnr lnr-car mcolor3"></span>
              <h3 class="feature2-title">Guaranteed pick-up</h3>
              <p>Licensed and insured professional drivers pick you up on time, every time</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature2" style="width: 100%;"> <span class="feature2__count"></span>
            <div class="feature2__content"> <span class="lnr lnr-lock mcolor2"></span>
              <h3 class="feature2-title">Payment protected</h3>
              <p>Know your money is safe with us until the job is done </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature2"> <span class="feature2__count"></span>
            <div class="feature2__content"> <span class="lnr lnr-smile mcolor4"></span>
              <h3 class="feature2-title">Seamless journey</h3>
              <p>Don't leave it to the last minute – know your ride will be waiting for you when you need it</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--why choose-->
  
  <!--proposal-area-->
  <section *ngIf="this.bookingDetails == null" class="proposal-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6 no-padding">
          <div class="proposal bgimage" style="background: #f1f1f138;">
            <!-- <div class="bg_image_holder" bgImageHolder> <img src="assets/img/api-bg.png" alt="prop image"> </div> -->
            <div class="content_above">
              <div class="proposal__icon "> <span class="lnr lnr-users customer-user-icon"></span> </div>
              <div class="proposal__content ">
                <h3 class="text-black">Interested in our B2B solutions?</h3>
                <p class="text-black">If you are a travel agent, we can help you integrate our ground-breaking booking platform into your own business.</p>
              </div>
              <a href="https://api.tripcenter.net/" class="btn--round btn btn--lg btn--blue">Get our API</a>
              <br />
              <br />
              <p class="text-black">Don’t want to use our API? Book on TripCenter with a travel agent account. <a href="https://system.tripcenter.net/Site/Sign-up/Tour-op.aspx" style="color:#FD7F19;">Sign up here</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="proposal">
            <!-- <div class="bg_image_holder" bgImageHolder> <img src="assets/img/feedback.png" alt="this is magic"> </div> -->
            <div class="content_above">
              <div class="proposal__icon"> <span class="lnr lnr-bubble customer-user-icon"></span> </div>
              <div class="proposal__content " style="padding-bottom: 0;">
                <h3 class="text-black mb-2">Customers feedback</h3>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 
                  <div class="carousel-inner">
                    <div class="carousel-item active mb-4">
                          <div class="mb-4">
                            <p class="text-black">-CATHERINE, SINGAPORE</p>
                            <p class="text-black">“We never expected booking a charter bus for Paris could be so easy in busy season.”</p>
                          </div>                  
                    </div>
                    <div class="carousel-item mb-4">
                        <div class="mb-4">
                            <p class="text-black">- ALI, DUBAI</p>
                            <p class="text-black">“Just booked it, £185.70 for one way 49 seat private coach transfer in London. Money saver! I will definitely come back.”</p>
                          </div>     
                    </div>
                    <div class="carousel-item mb-4">
                        <div class="mb-4">
                            <p class="text-black">- YUKI, TOKYO</p>
                            <p class="text-black">“It saves me time to Google suppliers in a different country. I can find so many suppliers and vehicles on TripCenter with real time prices.”</p>
                          </div>     
                    </div>
                    <div class="carousel-item mb-4">
                        <div class="mb-4">
                            <p class="text-black">- ANGELIKA, VILNIUS</p>
                            <p class="text-black">“We used TripCenter for the first time recently for one of our corporate clients. Very pleased with the customer service and directly got connected to supplier and their driver with minimum fuss.”</p>
                          </div>     
                    </div>
                    <div class="carousel-item mb-4">
                        <div class="mb-4">
                            <p class="text-black">- CHEUNG WEI, HONG KONG</p>
                            <p class="text-black">“My client was very happy with the car as it was exactly as I had booked and confirmed on TripCenter. This is very rare.”</p>
                          </div>     
                    </div>
                  </div>
                  <ol class="carousel-indicators" style="position: unset;">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  </ol>
                </div>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--proposal-area-->
  <section *ngIf="this.bookingDetails == null"  class="products" style="padding:0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center mt-5 mb-3">
            <h2 style="color: #BEBEBE;">Popular cities</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- start .col-md-12 -->
        <div class="col-md-12">
          <div class="sorting">
            <ul>
              <li>
                <a href="https://www.tripcenter.net/athens/">Athens</a>
              </li>
              <li>
                  <a href="https://www.tripcenter.net/dubai/">Dubai</a>
              </li>
              <li>
                  <a href="https://www.tripcenter.net/chicago/">Chicago</a>
              </li>
              <li>
                  <a href="https://www.tripcenter.net/edinburgh/">Edinburgh</a>
              </li>
              <li>
                  <a href="https://www.tripcenter.net/london/">London</a>
              </li>
              <li>
                  <a href="https://www.tripcenter.net/mumbai/">Mumbai</a>
              </li>
            </ul>
              <ul>
              <li>
                  <a href="https://www.tripcenter.net/delhi/">Delhi</a>
              </li>
              <li>
                  <a href="https://www.tripcenter.net/new-york/">New York</a>
              </li>
              <li>
                  <a href="https://www.tripcenter.net/orlando/">Orlando</a>
              </li>
              <li>
                <a href="https://www.tripcenter.net/paris/">Paris</a>
              </li>
              <li>
                <a href="https://www.tripcenter.net/rome/">Rome</a>
              </li>
              <li>
                <a href="https://www.tripcenter.net/vienna/">Vienna</a>
              </li>           
            </ul>
          </div>
        </div>
        <!-- end /.col-md-12 -->
      </div>
    </div>
  </section>
  </div>
