  <div id="main-content" class="main-content" style="background: #fff;">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element  vc_custom_1552374456597" >
            <div class="wpb_wrapper">
              <h1 class="title-h2" style="text-align: center; font-size: 36px; line-height: 1.5;">
                TripCenter is the world’s 1st integrated booking solution for<br />
                <span class="light">DAY HIRE &amp; MULTI-DAY HIRE GROUND TRANSPORTATION</span>
              </h1>
            </div>
          </div>
          <div class="clearboth"></div>
          <div class="gem-divider " style="margin-top: 57px;"></div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1514791982927 vc_row-has-fill vc_row-o-equal-height vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
              <div class="vc_column-inner vc_custom_1514811550012">
                <div class="wpb_wrapper">

                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
              <div class="vc_column-inner vc_custom_1513938998018">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element  vc_custom_1515590778384" >
                    <div class="wpb_wrapper">
                      <p>Our mission is to deliver a proactive and profitable business that showcases your fleet with immediate availability and LIVE prices to get booked and paid instantly.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
              <div class="vc_column-inner vc_custom_1514811539116">
                <div class="wpb_wrapper">
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1510132288977 vc_row-o-equal-height vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
              <div class="vc_column-inner vc_custom_1513939743148">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element  vc_custom_1515590790784" >
                    <div class="wpb_wrapper">
                      <p>Your individual system that will win you new customers, drive sales with increasing vehicle utilization, and reduced overheads without having to invest.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
            <div class="vc_column-inner vc_custom_1510132143262">
              <div class="wpb_wrapper">
                <div class="gem-button-container gem-button-position-center Groundtransportsingnup">
                  <a class="gem-button gem-button-size-medium gem-button-style-flat gem-button-text-weight-normal" style="border-radius: 3px;background-color: #fd7f10;" onmouseleave="this.style.backgroundColor='#fd7f10';" onmouseenter="this.style.backgroundColor='#228fc1';" href="https://system.tripcenter.net/Site/Sign-up/Coach-op.aspx" target="_blank">SIGN UP</a>
                </div> 
                <div class="gem-button-container gem-button-position-center">
                  <a class="gem-button gem-button-size-medium gem-button-style-flat gem-button-text-weight-normal" style="border-radius: 3px;background-color: #228fc1;" onmouseleave="this.style.backgroundColor='#228fc1';" onmouseenter="this.style.backgroundColor='#fd7f10';" href="https://tripcenter.net/supplier-arrange-a-demo/" target="_self">ARRANGE DEMO</a>
                </div> 
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
            <div class="vc_column-inner vc_custom_1513939154021">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element " >
                  <div class="wpb_wrapper">
                    <p>As soon as you receive a booking, you instantly and directly get connected with your customer on TripCenter platform without having to go through handling agents or brokers, saving you both time &amp; money.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="clearboth"></div>
          <div class="gem-divider " style="margin-bottom: 70px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row-full-width vc_clearfix"></div>
