@import  "../../node_modules/angular-notifier/styles.css";
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar{
	padding: 0px 15px;
	background: #fff;
	border: none;
	border-radius: 0;
	border-bottom:1px solid #CED1D9;
}

.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
/*#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #EDEFF5;
    color: #fff;
    transition: all 0.3s;
}*/
#sidebar.active{
	margin-left: -250px;
}

#sidebar .sidebar-header{
	padding: 20px;

}
#sidebar ul.components{
	padding: 20px 0px;
	color:#5C5D61;
	font-family:'Roboto-Regular';
	font-size:13px;
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {

    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
    background: #EDEFF5;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 4px 5px 5px #DDD;
}

.overlay {
    display: none !important;
    position: fixed !important;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7) !important;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998 !important;
    opacity: 1 !important;
    /* animate the transition */
    transition: all 0.5s ease-in-out !important;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    z-index: 99;
    right: 10px;
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download{
	background: #fff;

}
a.article,
a.article:hover {

    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.adjustImagesize{
	width:35%;	
}

.drawer-icon{
	padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 5px;
}

.font-style-side-drawer{
	font-family:  roboto-black;
	color:#000;
}
.font-style-side{
	font-family:  Roboto-Regular;
	color:#000;
}
.border-grey-side-nav{
	border-bottom:0.5px solid #CED1D9;
}
.font-style-profile{
	font-family:  roboto-black;
	color:#000;
	font-size: 11px;
	padding:20px;	
}
.side-drawer-social{
	font-size:11px;
	font-family:  Roboto-Regular;
	color:#5C5D61;
}
.side-nav-active{
	color:#128EC2;
	font-family:'Roboto-Regular';
	font-size:14px;
}

.side-nav-header{
	color: #5C5D61;
	font-family: Roboto-Regular;
	font-size: 14px;
	line-height: 16px;
}
.navbar-light .navbar-toggler{
	border:none !important;
}
.arrow{
    color: #128EC2;
    font-family: Roboto-Regular;
}
.arrow-right::after{
	float:right;
    font-family: 'FontAwesome';
    content: "\f054";
    color: #00a1ff;
}
@media screen and (max-width:768px){
/*	#sidebar{margin-left: -250px;}
	#sidebar.active{
		margin-left: 0px;
	}*/
	#sidebarCollapse span{
		display: none;
	}

	.mobile-reponsive {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
@media screen and (min-width:960px){
	.border-left-class-only{
		border-left: 1px solid #DADCE2;
	}
	.padding-border{
		padding:20px;
	}
}

