<div class="wrapper mobile-reponsive"
  [ngStyle]="{ 'max-height': screenHeight, 'max-height': '100%' }">
  <nav id="sidebar" *ngIf="isShowMenu">
    <div id="dismiss" (click)="onClickdismiss()">
      <i class="fa fa-arrow-left" style="color:black;"></i>
    </div>
    <div class="container">
      <div class="row margin-top-ten">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
          style="margin-left: 15px;">
          <div class="row triprow">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <a href="javascript:void(0)">
                <img src="assets/images/logo.png" class="adjustImagesize"/></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class="list-unstyled components">
            <li>
              <a [routerLink]="['/pagelist']">
                <span [ngClass]="{ 'side-nav-active': url == '' }">Pages</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/bloglist']">
                <span [ngClass]="{ 'side-nav-active': url == '' }">Blogs</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/blogcommentlist']">
                <span [ngClass]="{ 'side-nav-active': url == '' }">Blog comments</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/newslist']">
                <span [ngClass]="{ 'side-nav-active': url == '' }">News</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/newscommentlist']">
                <span [ngClass]="{ 'side-nav-active': url == '' }">News comments</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/categories']">
                <span [ngClass]="{ 'side-nav-active': url == '' }">Categories</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/media']">
                <span [ngClass]="{ 'side-nav-active': url == '' }">Media</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/footerlist']">
                <span [ngClass]="{ 'side-nav-active': url == '' }">Footer list</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/contactuslist']">
                <span [ngClass]="{ 'side-nav-active': url == '' }">Contact-Us list</span>
              </a>
            </li>
            <li>
                <a [routerLink]="['/rolemanagement']">
                  <span [ngClass]="{ 'side-nav-active': url == '' }">Role management</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/users']">
                  <span [ngClass]="{ 'side-nav-active': url == '' }">User management</span>
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="content" style="width:100%;">
    <nav class="navbar navbar-expand-lg navbar-light nav-bar-border"
      *ngIf="isShowMenu">
      <i class="fa fa-bars"
      id="sidebarCollapse"
      (click)="onClickSidebarcollapse()"></i>&nbsp;&nbsp;<span class="side-nav-header"></span> &nbsp;&nbsp;
    &nbsp;&nbsp;<span class="side-nav-header"></span>
      <button class="fa fa-bars navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"></button>
      <div>
        <a href="javascript:void(0)">
          <img src="assets/images/logo.png" class="adjustImagesize"/>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link font-style-profile">Logout
              <i class="fa fa-power-off"
                style="font-size:20px;"
                (click)="logout()"></i></a>
            <!-- <button class="btn btn-danger delbtn" style="margin-right:10px;"
                                (click)='logout()' title="logout">
                                <i class="fa fa-power-off" style="font-size:20px;"></i>
                        </button> -->
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <router-outlet></router-outlet>
    </div>
    <div class="overlay" (click)="onClickdismiss()"></div>
  </div>
  <notifier-container></notifier-container>
  <ngx-spinner></ngx-spinner>
</div>
