<section style="background-color: #fff;">
  <div class="container" style="padding-top:25px; padding-bottom:25px;">
    <div class="row">
      <div class="col">
        <h4>Role listing</h4>
      </div>
      <div class="col ">
          <button class="btn btn-secondary add" (click)="addrole()"><i class="fa fa-plus" aria-hidden="true"></i> <b>
              Add</b></button>
      </div>
    </div>
    <!-- Table -->
    <table class="table table-striped" id="table" [mfData]="data | filter:searchTxt" #mf="mfDataTable"
      [mfRowsOnPage]="8">
      <!-- Table heading -->
      <thead>
        <tr class="title-color">
          <th>
            <mfDefaultSorter by="rolename">Role name</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="roledetail">Role detail</mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="issuperuser">Is SuperUser?</mfDefaultSorter>
          </th>
          <th class="action">
            <mfDefaultSorter by="action">Action</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <!-- Talbe heading -->
      <!-- Table body -->
      <tbody>
        <tr *ngFor="let item of mf.data;" style="text-align: left;">
          <td>{{item.key}}</td>
          <td>{{item.displayValue}}</td>
          <td><span *ngIf="item.isSuperUser">Yes</span>
            <span *ngIf="!item.isSuperUser">No</span> </td>
          <td style="width:170px; text-align:center"><button class="btn btn-primary editbtn" (click)='editrole(item)'><i
                class="la la-lg la-edit"></i></button></td>
        </tr>
      </tbody>
      <!-- Table body -->
      <!-- Table footer -->
      <tfoot>
        <tr>
          <td>
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
      <!-- Table footer -->
    </table>
    <!-- Table -->
  </div>

  <!-- Role Add model -->
  <div class="modal fade" id="message-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Add role</h3>
          </div>
          <div>
            <form [formGroup]="savedForm" (ngSubmit)="onSubmit(savedForm.value)">
              <div style="padding:15px; margin: 10px;">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="label">Role name</label>
                      <input type="text" name="rolename" class="form-control" formControlName="key"
                        placeholder="Enter role name" required>
                        <div *ngIf="submitted && savedForm.controls.rolename.errors" class="error-font">
                          <span *ngIf="savedForm.controls.rolename.errors.required" class="validation-error">Role name is required</span>
                        </div> 
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="label">Role detail</label>
                        <input type="text" name="roledetail" class="form-control" formControlName="displayValue"
                          placeholder="Enter role detail" required>
                          <div *ngIf="submitted && savedForm.controls.roledetail.errors" class="error-font">
                            <span *ngIf="savedForm.controls.roledetail.errors.required" class="validation-error">Role detail is required</span>
                          </div> 
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="label">Is SuperUser?</label>
                      </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">  
                          <input type="checkbox" name="isSuperUser" class="form-control" formControlName="isSuperUser" />
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="savedForm.invalid"
                  style="width:90px;">Save</button>
                <button type="button" class="btn btn-secondary " data-dismiss="modal">
                  Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  
  <!-- role edit/update model -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Edit role</h3>
        </div>
        <div>
          <form [formGroup]="editForm" (ngSubmit)="editsave(editForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Role name</label>
                    <input type="text" name="rolename" class="form-control" formControlName="key"
                      placeholder="Enter role name">
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="label">Role detail</label>
                      <input type="text" name="roledetail" class="form-control" formControlName="displayValue"
                        placeholder="Enter role detail">
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="label">Is SuperUser?</label>
                  </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group"> 
                    <input type="checkbox" name="isSuperUser" class="form-control" formControlName="isSuperUser" />
                  </div>
                </div>
              </div>
            </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid"
            style="width:90px;">Save</button>
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            Close</button>
        </div>
        </form>
        </div>
      </div>
  </div>
</div>
  <notifier-container></notifier-container>
</section>