<section style="background-color: #fff;">
  <div class="container" style="padding-top:25px; padding-bottom:25px;">
    <div class="row">
      <div class="col">
        <h4>Page listing</h4>
      </div>
      <div class="col">
      <div class="modal-body text" style="padding: 0px">
        <div class="form-group row" data-key="type">
          <label class="col-sm-3 control-label" for="input-model">
            Template
          </label>
          <div class="col-sm-9 input">
            <div>
              <select class="form-control custom-select" (change)="selectChangeTemplateHandler($event)"
                name="listTemplateUrl">
                <option value="home">Home Template</option>
                <option value="city">City Template</option>
                <option value="master">Master Template</option>
                <option value="supplier">Supplier Template</option>
              </select>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col ">
        <button class="btn btn-secondary addpage" (click)="newpage()"><i class="fa fa-plus" aria-hidden="true"></i> <b>
          Add</b></button>
      </div>
    </div>
    <table class="table table-striped" id="table" [mfData]="data | filter:searchTxt" #mf="mfDataTable"
      [mfRowsOnPage]="8">
      <!-- Table headings -->
      <thead>
        <tr class="title-color">
          <th>
            <mfDefaultSorter by="bgimg">Background image</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="pagename">Page name</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="title">Title</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="subtitle">Sub title</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="description">Description</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="metatitle">Meta title</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="metadescription">Meta description</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="pageurl">Page Url</mfDefaultSorter>
          </th>
          <th class="action">
            <mfDefaultSorter by="action">Action</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        <tr *ngFor="let item of mf.data;" class="sub-title-color" style="text-align: left;">
          <td style="width:10%"><img [attr.src]="path+item.bgimage" class="bgimg" /></td>
          <td>{{item.pagename}}</td>
          <td>{{item.title}}</td>
          <td>{{item.subtitle}}</td>
          <td>{{item.description}}</td>
          <td>{{item.metatitle}}</td>
          <td>{{item.metadescription}}</td>
          <td><button class="copy-btn" title="https://tripcenterb2e.azurewebsites.net/{{item.template}}/{{item.url}}"
              (click)="copyTextToClipboard('https://tripcenterb2e.azurewebsites.net/'+item.template+'/'+item.url)">
              <i class="fa fa-clipboard"></i>
            </button></td>
          <td style="width:200px; text-align:center"><button class="btn btn-primary editbtn" style="margin-right:10px;"
              (click)='clone(item)' [disabled]="item.template == 'master' || item.template == 'supplier'"><i class="la la-clone"></i></button><button class="btn btn-primary editbtn"
              (click)='tedit(item.id)'><i class="la la-lg la-edit"></i></button><button class="btn btn-danger delbtn"
              (click)='delete(item.id)' [disabled]="item.template == 'master' || item.template == 'supplier'"><i class="la la-lg la-trash-o"></i></button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- Delete page modal -->
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Delete</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete page?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="width:90px;" (click)="tedelete()"
            data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Select templet modal -->
  <div class="modal fade" id="new-page-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <!-- <form> -->
      <div class="modal-content">
        <div class="modal-header">
          <h3>Add Page</h3>
        </div>
        <div class="modal-body text">
          <div class="form-group row" data-key="type">
            <label class="col-sm-3 control-label" for="input-model">
              Template
              <abbr class="badge badge-pill badge-secondary" title="This template will be used as a start">?</abbr>
            </label>
            <div class="col-sm-9 input">
              <div>
                <select class="form-control custom-select" (change)="selectChangeHandler($event)"
                  name="startTemplateUrl">
                  <option value="home">Home Template</option>
                  <option value="city">City Template</option>
                  <option value="master">Master Template</option>
                  <option value="supplier">Supplier Template</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-small" type="submit" (click)="pageopen()">
            Create page</button>
          <button class="btn btn-secondary btn-small" type="reset" data-dismiss="modal">
            Cancel</button>
        </div>
      </div>
      <!-- </form>		 -->
    </div>
  </div>
  <!-- Save new page modal -->
  <div class="modal fade" id="message-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Clone Page</h3>
        </div>
        <div>
          <form [formGroup]="cloneForm" (ngSubmit)="onSubmit(cloneForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Page name</label>
                    <input type="text" name="pagename" class="form-control" formControlName="pagename"
                      placeholder="Enter page name" required>
                    <div *ngIf="submitted && cloneForm.controls.pagename.errors" class="error-font">
                        <span *ngIf="cloneForm.controls.pagename.errors.required" class="validation-error">Pagename is required</span>
                      </div>   
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Page title</label>
                    <input type="text" name="title" formControlName="title" class="form-control"
                      placeholder="Enter page title" required>
                    <div *ngIf="submitted && cloneForm.controls.title.errors" class="error-font">
                        <span *ngIf="cloneForm.controls.title.errors.required" class="validation-error">Title is required</span>
                      </div> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Page subtitle</label>
                    <input type="text" name="subtitle" class="form-control" formControlName="subtitle"
                      placeholder="Enter page subtitle" required>
                    <div *ngIf="submitted && cloneForm.controls.subtitle.errors" class="error-font">
                        <span *ngIf="cloneForm.controls.subtitle.errors.required" class="validation-error">Subtitle is required</span>
                      </div> 
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Page description</label>
                    <input type="text" name="description" class="form-control" formControlName="description"
                      placeholder="Enter page description" required>
                      <div *ngIf="submitted && cloneForm.controls.description.errors" class="error-font">
                          <span *ngIf="cloneForm.controls.description.errors.required" class="validation-error">Description is required</span>
                        </div> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Background image</label>
                    <input type="file" name="bgimage" formControlName="bgimage" (change)="onFileChange($event)"
                      placeholder="Upload background" class="form-control" required>
                      <div *ngIf="submitted && cloneForm.controls.bgimage.errors" class="error-font">
                          <span *ngIf="cloneForm.controls.bgimage.errors.required" class="validation-error">Background image is required</span>
                        </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">Meta title</label>
                    <input type="text" name="metatitle" formControlName="metatitle" class="form-control"
                      placeholder="Enter meta title" required>
                    <div *ngIf="submitted && cloneForm.controls.metatitle.errors" class="error-font">
                        <span *ngIf="cloneForm.controls.metatitle.errors.required" class="validation-error">Meta-title is required</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="label">Meta description</label>
                    <input type="text" class="form-control" name="metadescription" formControlName="metadescription"
                      placeholder="Enter meta description" required>
                    <div *ngIf="submitted && cloneForm.controls.metadescription.errors" class="error-font">
                        <span *ngIf="cloneForm.controls.metadescription.errors.required" class="validation-error">Meta-description is required</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="label">Meta keywords</label>
                    <input type="text" class="form-control" name="meta_keywords" formControlName="meta_keywords"
                      placeholder="Enter meta keywords" required>
                    <div *ngIf="submitted && cloneForm.controls.meta_keywords.errors" class="error-font">
                        <span *ngIf="cloneForm.controls.meta_keywords.errors.required" class="validation-error">Meta-keywords is required</span>
                      </div>
                  </div>
                </div>
              </div>
              <textarea rows="25" id="template" name="template" formControlName="template" cols="150" class="form-control"
              style="display:none;"></textarea>
              <textarea rows="25" id="draft_html" name="draft_html" formControlName="draft_html" cols="150" class="form-control"
              style="display:none;"></textarea>
              <textarea rows="25" id="publish_html" name="publish_html" formControlName="publish_html" cols="150" class="form-control"
              style="display:none;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" (click)="savehtml('Publish')" class="btn btn-primary" [disabled]="cloneForm.invalid"
                   style="width:90px;">Publish</button>
                <button type="submit" (click)="savehtml('Draft')" class="btn btn-primary" [disabled]="cloneForm.invalid"
                  style="width:90px;">Draft</button>
                <button type="button" class="btn btn-secondary " data-dismiss="modal">
                  Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <notifier-container></notifier-container>
</section>