.table-striped{
    background-color: #EDEFF5 !important;
   }
   .title-color th{
      font-size: 13px;
       font-family: roboto-black !important;
       font-weight: bold !important;
       
   }
   .table-striped tbody tr:nth-of-type(odd){
         background-color: #FBFCFD !important;
        border-bottom: 1px solid #dee2e6 !important;
   }
   .table-striped tbody tr:nth-of-type(even){
         background-color: #FBFCFD !important;
        border-bottom: 1px solid #dee2e6 !important;
   }
   .sub-title-color{
       color: #5C5D61 !important;
       font-family: Roboto-Regular !important;
       font-size: 13px !important;
   }

   .delbtn{
       margin-left:12px;
       height:35px;
       font-size: 14px;
      
   }

   .editbtn{
      
       height:35px;
       font-size: 14px;
   }
   .bgimg{
       height:50px;
       width:50px;
   }
   .action{
       text-align:center;
   }   

   .addpage{
    margin-bottom:20px;
    float:right;
    margin-right: 2px;
   }
   .chip {
    display: inline-block;
    padding: 0 12px;
    height: 32px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-top:10px;
    margin-bottom:8px;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }