<section style="background-color: #fff;">
  <div class="container" style="padding-top:25px; padding-bottom:25px;">
    <div class="row">
      <div class="col">
        <h4>Blog comment listing</h4>
      </div>
    </div>
    <table
      class="table table-striped"
      id="table"
      [mfData]="data | filter: searchTxt"
      #mf="mfDataTable"
      [mfRowsOnPage]="8"
    >
      <thead>
        <tr class="title-color">
          <th>
            <mfDefaultSorter by="name">Author</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="message">Message</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="createdAt">Submitted On</mfDefaultSorter>
          </th>
          <th class="action">
            <mfDefaultSorter by="id">Action</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of mf.data;"
          style="text-align: left;"
        >
          <td>
            {{ item.name }}
            <span *ngIf="item.mail"
              ><br />Email:
              <a href="mailto:{{ item.mail }}">{{ item.mail }}</a></span
            >
            <span *ngIf="item.website"
              ><br />Website:
              <a href="{{ item.website }}" target="_blank">{{
                item.website
              }}</a></span
            >
          </td>
          <td class="p_comment">
            <small *ngIf="item.isReply">
              In reply to <u>{{ item.InReplyTo }}</u>
            </small>
            <p>{{ item.message }}</p>
          </td>
          <td>
            {{ item.createdAt | date: "yyyy/MM/dd" }}<br />{{
              item.createdAt | date: "hh:mm a"
            }}
          </td>
          <td class="text-center">
            <button
              class="btn btn-link btn-sm text-warning"
              (click)="onApprove(item)"
            >
              {{ item.status == 0 ? "Approve" : "Unapprove" }}
            </button>
            <button
              class="btn btn-link btn-sm text-secondry"
              (click)="onReply(item)"
              *ngIf="!item.isReply"
            >
              Reply
            </button>
            <button class="btn btn-link btn-sm" (click)="onEditComment(item)">
              Edit
            </button>
            <button
              class="btn btn-link btn-sm text-danger"
              (click)="delete(item.id)"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Delete</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete comment?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            style="width:90px;"
            (click)="cdelete()"
            data-dismiss="modal"
          >
            Delete
          </button>
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="reply-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Reply</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea
                  [(ngModel)]="txtReply"
                  class="form-control"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            style="width:90px;"
            (click)="onSubmitComment()"
            data-dismiss="modal"
          >
            Submit
          </button>
          <button type="button" class="btn btn-secondary " data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Edit Comment</h3>
        </div>
        <div>
          <form [formGroup]="editForm" (ngSubmit)="editsave(editForm.value)">
            <div style="padding:15px; margin: 10px;">
              <div class="row">
                <!-- <div class="col-lg-12">
                  Blog: <a>{{commentBlogName}}</a>
                </div> -->
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="label">Author Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      formControlName="name"
                      placeholder="Enter name"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="label">Author Email</label>
                    <input
                      type="text"
                      name="mail"
                      class="form-control"
                      formControlName="mail"
                      placeholder="Enter email"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="label">Author Website</label>
                    <input
                      type="text"
                      name="website"
                      class="form-control"
                      formControlName="website"
                      placeholder="Enter email"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="label">Comment</label>
                    <textarea
                      name="message"
                      class="form-control"
                      formControlName="message"
                      placeholder="Enter comment"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="editForm.invalid"
                style="width:90px;"
              >
                Update
              </button>
              <button
                type="button"
                class="btn btn-secondary "
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <notifier-container></notifier-container>
</section>
