.add {
  margin-bottom: 20px;
  float: right;
  margin-right: 2px;
}

.table-striped {
  background-color: #edeff5 !important;
}
.title-color th {
  font-size: 13px;
  font-family: roboto-black !important;
  font-weight: bold !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fbfcfd !important;
  border-bottom: 1px solid #dee2e6 !important;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: #fbfcfd !important;
  border-bottom: 1px solid #dee2e6 !important;
}
.sub-title-color {
  color: #5c5d61 !important;
  font-family: Roboto-Regular !important;
  font-size: 13px !important;
}

.delbtn {
  margin-left: 12px;
  height: 35px;
  font-size: 14px;
}

.editbtn {
  height: 35px;
  font-size: 14px;
}
.bgimg {
  height: 50px;
  width: 50px;
}
.action {
  text-align: center;
}

.addpage {
  margin-bottom: 20px;
  float: right;
  margin-right: 2px;
}

.p_comment {
  p {
    max-height: 102px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 0px;
  }
  width: 40%;
}
