/* You can add global styles to this file, and also import other style files */
@import  "../node_modules/angular-notifier/styles.css";

@font-face{
	font-family: roboto-black;
	src: url('assets/fonts/Roboto-Black.ttf');
}
@font-face{
	font-family:  Roboto-Regular;
	src: url('assets/fonts/Roboto-Regular.ttf');
}

.notifier__notification-message{
 color:#fff !important;
}
input[type=radio]{
	height: auto !important;
	margin:5px;
}

.carousel-indicators li {
	background-color: #f9f9f9 !important;
}
.carousel-indicators li.active {
	background-color:#0056b3 !important
}

.validation-error{
	color: red;
}